<section>
  <h3 class="box_header">{{ cmCtrl.header }}</h3>
  <div class="centered_items">
    <div class="container">
      <div class="item centered_text">
        <p class="number large_number"
          ng-class="{negative: ((cmCtrl.displayIncome + cmCtrl.displaySpent) <= 0)}">
          {{ cmCtrl.convert(cmCtrl.displayIncome + cmCtrl.displaySpent) }}
        </p>
        <h4 class="centered_header">Balance</h4>
      </div>
    </div>
    <div class="container">
      <div class="item centered_text">
        <p class="number" ng-class="{negative: (cmCtrl.displayIncome <= 0)}">
          {{ cmCtrl.convert(cmCtrl.displayIncome) }}
        </p>
        <h4 class="centered_header">Income</h4>
      </div>
      <div class="item centered_text">
        <p class="number" ng-class="{negative: (cmCtrl.displaySpent <= 0)}">
          {{ cmCtrl.convert(cmCtrl.displaySpent) }}
        </p>
        <h4 class="centered_header">Spent</h4>
      </div>
    </div>
    <div class="button_group">
      <button ng-click="cmCtrl.showProjected()">{{ cmCtrl.buttonText }}</button>
    </div>
  </div>
</section>
