<section>
  <h3>Current Month</h3>
  <div class="centered_items">
    <div class="averages">
      <div class="box">
        {{ cmCtrl.convert(cmCtrl.income) }}
        <h4>
          Income
        </h4>
      </div>
      <div class="box">
        {{ cmCtrl.convert(cmCtrl.spent) }}
        <h4>
          Spent
        </h4>
      </div>
    </div>
    <div class="button_group">
      <button ng-click="!cmCtrl.showProjected">See Projected</button>
    </div>
  </div>
  <projected ng-show="cmCtrl.showProjected"></projected>
</section>
