<section>
  <h3>Monthly Transactions View</h3>
  <div class="row header">
    <div class="column"><h4>Month</h4></div>
    <div class="column"><h4>Income</h4></div>
    <div class="column"><h4>Spent</h4></div>
    <div class="column"><h4>Balance</h4></div>
  </div>
  <div
    ng-repeat="month in mtCtrl.transactions.monthsArray"
    class="row">
    <div class="column">
      <p>
        {{ month.date }}
      </p>
    </div>
    <div class="column">
      <p class="number" ng-class="{negative: (month.income <= 0)}">
        {{ mtCtrl.convert(month.income) }}
      </p>
    </div>
    <div class="column">
      <p class="number" ng-class="{negative: (month.spent <= 0)}">
        {{ mtCtrl.convert(month.spent) }}
      </p>
    </div>
    <div class="column">
      <p class="number" ng-class="{negative: ((month.income + month.spent) <= 0)}">
        {{ mtCtrl.convert(month.income + month.spent) }}
      </p>
    </div>
  </div>
</section>
