<section>
  <h3 class="box_header">Monthly Credit Card Payments</h3>
  <div class="row header">
    <div class="column two_column"><h4>Month</h4></div>
    <div class="column two_column"><h4>Amount Paid</h4></div>
  </div>
  <div class="inner_box">
    <div
    ng-repeat="month in ccTransactionsCtrl.transactions.monthsArray | orderBy : 'date' : true"
    class="row">
    <div class="column two_column">
      <p>{{ month.date }}</p>
    </div>
    <div class="column two_column">
      <p class="number negative">
        {{ ccTransactionsCtrl.convert(month.totalsByCategory.creditCard.debit) }}
      </p>
    </div>
  </div>
  </div>
</section>
