<section class="home container">
  <section class="box large">
    <h3 class="box_header">Filter Your Transactions</h3>
    <div class="container">
      <div class="item">
          <input id="donuts"
            type="checkbox"
            ng-model="homeCtrl.donuts"
            ng-change="homeCtrl.filterDonuts()" />
          <label for="donuts">Hide donut transactions</label>
          <input id="cc"
            type="checkbox"
            ng-model="homeCtrl.cc"
            ng-change="homeCtrl.filterCC()" />
          <label for="cc">Hide Credit Card Payments</label>
      </div>
    </div>
  </section>
  <current-month
    transactions="homeCtrl.transactions"
    class="box small">
  </current-month>
  <monthly-averages
    transactions="homeCtrl.transactions"
    class="box small">
  </monthly-averages>
  <cc-transactions
    transactions="homeCtrl.transactions"
    class="box small">
  </cc-transactions>
  <monthly-transactions
    transactions="homeCtrl.transactions"
    class="box large">
  </monthly-transactions>
</section>
