<section>
  <h3 class="box_header">Average Monthly Spending</h3>
  <div class="centered_items">
    <div class="container">
      <div class="item centered_text">
        <p class="number large_number"
          ng-class="{negative: ((maCtrl.averages.income + maCtrl.averages.spent) <= 0)}">
          {{ maCtrl.convert(maCtrl.averages.income + maCtrl.averages.spent) }}
        </p>
        <h4 class="centered_header">Balance</h4>
      </div>
    </div>
    <div class="container">
      <div class="item centered_text">
        <p class="number" ng-class="{negative: (maCtrl.averages.income <= 0)}">
          {{ maCtrl.convert(maCtrl.averages.income) }}
        </p>
        <h4 class="centered_header">Income</h4>
      </div>
      <div class="item centered_text">
        <p class="number" ng-class="{negative: (maCtrl.averages.spent <= 0)}">
          {{ maCtrl.convert(maCtrl.averages.spent) }}
        </p>
        <h4 class="centered_header">Spent</h4>
      </div>
    </div>
  </div>
</section>
